body, html{
    background-color:thistle;
    overflow-x:hidden;
   }

p{
   margin-left:2%;
   font-size:1.2rem;
   text-align: justify;
   margin-right:2%;
}

h2{
   margin-left:1%;
   font-size:2rem;
}

li{
   font-size:1.2rem;
}

@media(min-width:1201px){

    *{
        box-sizing:border-box;
     }
      
     body{
        margin:0;
        padding:0;
     }
      
     .navbar{
        display:flex;
        position:relative;
        justify-content:space-between;
        align-items:center;
        background-color:lightcoral;
        padding:1rem;
        font-size:1.2rem;
        border:solid darkblue 3px;
     }
      
     .title{
        font-size:2rem;
        font-weight:bolder;
        position:relative;
        left:1rem;
        color:darkblue;
     }
      
     .navbar-links{
        height:100%;
     }
      
     .navbar-links ul{
        display:flex;
        margin:0;
        padding:0;
     }
      
     .navbar-links li{
        list-style:none;
     }
      
     .navbar-links li a{
        display:block;
        text-decoration:none;
        color:darkblue;
        font-weight:bolder;
        padding:1rem;
     }
     


























}
 

 
 