body, html{
    background-color:thistle;
}

p{
    margin-left:2%;
    font-size:1.2rem;
    text-align: justify;
    margin-right:2%;
  }
   
h2{
    margin-left:1%;
    font-size:2rem;
 }

li{
   font-size:1.2rem;
  }

*{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
}

hr{
    height:1.2rem;
    background-color:black;
}

.navbar{
    display:flex;
    position:relative;
    justify-content:space-between;
    align-items:center;
    background-color:lightcoral;
    padding:1rem;
    font-size:1.2rem;
    border:solid darkblue 3px;
}

.title{
    font-size:1.5rem;
    margin:.5rem;
    color:darkblue;
    font-weight:bolder;
}

.navbar-links{
    height:100%;
}

.navbar-links ul{
    display:flex;
    margin:0;
    padding:0;
}

.navbar-links li{
    list-style:none;
}

.navbar-links li a{
    display:block;
    text-decoration:none;
    color:darkblue;
    padding:1rem;
    font-weight:bolder;
}

.navbar-links li:hover{
    background-color:yellow;
    padding:0;
}

.toggle-button{
    position:absolute;
    top:.75rem;
    right:1rem;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    width:30px;
    height:21px;
}

.toggle-button .bar{
    height:4px;
    width:100%;
    background-color:darkblue;
    border-radius:10px;
}

@media (max-width:1023px){

    .navbar{
       justify-content:flex-start;
       align-items:center;
    }

    .title{
        font-size:1.2rem;
        margin-left:0;
    }

    .toggle-button{
       display:flex;
    }

    .navbar-links{
        display:none;
        width:100%;
    }

    .navbar-links ul{
        width:100%;
        flex-direction:column;
    }

    .navbar-links ul li{
        text-align:center;
    }

    .navbar-links ul li a{
        padding:.5rem 1rem;
    }

    .navbar-links li:hover{
        background-color:lightgreen;
        width:50%;
    }

    .navbar-links.active{
        display:flex;
    }
     }

    .container{
        display:inline-flex;
        background-color:black;
        margin-left:15%;
        margin-right:15%;
        color:#fff;
        gap:10px;
        overflow-x:auto;
        white-space:nowrap;
        width:340px;
        height:100px;
    }

    .line-numbers span{
        counter-increment:linenumber;
    }

    .line-numbers span::before{
        content:counter(linenumber);
        color:#506882;
    }

    .margin-left{
        margin-left:2.3%
    }

    .blue{
        color:rgb(14, 144, 195) 
    }

    .lightblue{
        color: rgb(0, 217, 255);
    }

    .orange{
        color:#ff8550;
    }

   .yellow{
    color:rgb(255, 238, 0);
   }

   .green{
    color:forestgreen
   }