body,html{
    background-color:thistle;
    max-width:100%;
    overflow-x:hidden;
}

p{
    margin-left:2%;
    font-size:1.2rem;
    text-align: justify;
    margin-right:2%;
  }
   
h2{
    margin-left:1%;
    font-size:2rem;
 }

li{
   font-size:1.2rem;
  }

*{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
}

hr{
    height:1.2rem;
    background-color:black;
    margin-top:1.875rem;
}

.container{
    display:inline-flex;
    background-color:black;
    color:#fff;
    overflow-x:scroll;
    white-space:nowrap;
    height:6.25rem;
    margin-right:10%;
    margin-left:10%;
    margin-bottom:4%;
    margin-top:0;
    width:80%;
    height:9rem;
}

.line-numbers span{
    counter-increment:linenumber;
    display:block;
}

.line-numbers span::before{
    content:counter(linenumber);
    color:#506882;
}

.margin-left{
    margin-left:2.3%
}

.blue{
    color:rgb(14, 144, 195) 
}

.lightblue{
    color: rgb(0, 217, 255);
}

.orange{
    color:#ff8550;
}

.yellow{
     color:rgb(255, 238, 0);
}

.green{
     color:forestgreen
}

.indent{
    margin-left:1.8rem;
}

.indent-2{
    margin-left:0.6rem;
}

.purple{
    color:magenta
}

.lightgreen{
    color:mediumspringgreen;
}

.khaki{
    color:khaki
}

.align{
    margin-left: 0.5rem;
}  

.heading{
     margin-left:2.3%;
     justify-content:center;
}

ul li{
     text-align:justify;
     margin-right:1.2rem;
}

.font-size{
     font-size:1.375rem;
}

.line-height{
    line-height:2;
}

.navbar{
    display:flex;
    position:relative;
    justify-content:space-between;
    align-items:center;
    background-color:lightcoral;
    padding:1rem;
    font-size:1.2rem;
    border:solid darkblue 0.188rem;
}

.title{
    font-size:1.2rem;
    margin:.5rem;
    color:darkblue;
    font-weight:bolder;
    text-align:center;
}

.navbar-links{
    height:100%;
}

.navbar-links ul{
    display:flex;
    margin:0;
    padding:0;
}

.navbar-links li{
    list-style:none;
}

.navbar-links li a{
    display:block;
    text-decoration:none;
    color:darkblue;
    padding:1rem;
    font-weight:bolder;
}

.navbar-links li:hover{
    background-color:yellow;
    padding:0;
}

.toggle-button{
    position:absolute;
    top:.75rem;
    right:1rem;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    width:1.875rem;
    height:1.313rem;
}

.toggle-button .bar{
    height:0.25rem;
    width:100%;
    background-color:darkblue;
    border-radius:0.625rem;
}

@media (min-width:320px){
     .title{
        font-size:1.5rem;
     }
   
    .long-example{
       font-size:1.2rem;
   }
     }

@media (min-width:481px){

    .title{
        font-size:2.2rem;
    }

    .navbar-links li a{
        font-size:1.5rem;
    }

    .long-example{
        font-size:1.5rem;
    }
     
    .font-size{
        font-size:2rem;
    }
 } 

  @media(min-width:768px){
    .title{
        font-size:3rem;
    }

    .navbar{
        padding:2.3rem;
    }

    .container{
        height:13rem;
    }
 }

 @media(min-width:1024px){
    .title{
        font-size:4.3rem;
    }
   
    h2{
        font-size:3rem;
    }
 }

@media(min-width:1201px){
    .title{
        font-size:2rem;
    }
   
    .navbar-links ul li a{
        font-size:1.1rem;
    }
}

@media (max-width:1201px){

    .navbar{
       justify-content:flex-start;
       align-items:center;
    }

    .toggle-button{
       display:flex;
    }

    .navbar-links{
        display:none;
        width:100%;
    }

    .navbar-links ul{
        width:100%;
        flex-direction:column;
    }

    .navbar-links ul li{
        text-align:center;
    }

    .navbar-links ul li a{
        padding:.5rem 1rem;
    }

    .navbar-links li:hover{
        background-color:lightgreen;
        width:50%;
    }

    .navbar-links.active{
        display:flex;
    }
     }

    